<div class="dashboard">
  <h2 class="pigFishish">Balance Inquiry</h2>
  <label><%= @balance_inquiry.source_account.display %> Balance</label><br /> 
  <%= number_to_currency(@balance_inquiry.source_account.balance) %>
</div>